<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
    </head>
<body>

    <div class="container">
       
        <div class="text"> Forgot Password</div>
          {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <br>
        <p>Please enter your email address to reset your password.</p>
    <form action="/auth/forgotPassword" method="post"> 

         <div class="data">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            </div>
            <div class="btn">
            <button type="submit">Reset Password</button>
            </div>
       
        <BR>

        <div class="signup-Link">
                <a href="/">Back to Login</a>
            </div>
        
        </form>
    </div>
      
</body>
</body>
</html>  