<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
    <div class="container">
         <div class="text">Password Reset Page</div>
        
        <!-- Include a form for resetting the password -->
         {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <form action="/auth/resetPassword" method="POST">
           

             <div class="data">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
               </div>

               <div class="data">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                  </div>
            <div class="btn">
                <button type="submit">Reset Password</button>
            </div>

            <div class="signup-Link">
                <a href="/">Back to Login</a>
            </div>
        </form>
    </div>
</body>
</html>
